.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url("https://www.sruthilayafinejewellery.com/assets/uploads/event_gallary/DSC00490.jpg"); */
  background-size: cover;         /* makes image cover full screen */
  background-position: center;    /* centers the image */
  background-attachment: fixed;   /* gives parallax-like effect */
  background-repeat: no-repeat;   /* prevents repeating */
  font-family: "Poppins", sans-serif; /* optional: elegant font */
}

.scroll-stack-inner {
  padding: 20vh 5rem 50rem;
  min-height: 100vh;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 40rem;
  /* background: #d08a8a; */
  width: 100%;
  margin: 30px 0;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
  /* Improve mobile performance */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
